@font-face {
    font-family: 'LivingStone';
    src: url('./assets/font/Livingstone.otf') format('otf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('./assets/font/Livingstone.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

/* aldrich-regular - latin */
@font-face {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/font/aldrich-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/font/aldrich-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/font/aldrich-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/font/aldrich-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../assets/font/aldrich-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/font/aldrich-v17-latin-regular.svg#Aldrich') format('svg'); /* Legacy iOS */
  }


body {
    margin: 0;


    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: black;

    font-family: Aldrich;
}

html, body {margin: 0; height: 100%; overflow: hidden}

#main {
    padding: 25px;
}

#game {
    position: relative;
}


#background img{
    width: 1200px;
    height: auto;   

    animation: offOn .3s;
}

#texts {
    padding: 5px;
    position: absolute;
    height:15%;
    width: 1200px;
    left:0;
    
    bottom: 0;
    background-color: rgba(202, 202, 202, 0.5);

    font-size: 28px;

    overflow-y: scroll;
}


.actionElement {
    position: absolute;
    transition: transform 0.2s ease-in-out;
    scale: 0.7;


}

.actionElement img {
    animation: offOn .3s;
}

.invis {
    display: none; 
}

.tooltip .tooltiptext {
    opacity: 0;
    
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    font-size: 1.8em;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    transition: .2s opacity linear;

    pointer-events: none;
  }
  
  .actionElement[active~="true"].tooltip:hover .tooltiptext {
    opacity: 1;
  }

  .actionElement[active~="true"]:active {
    transform: translate(2px, 2px);

}

  .bold {
    font-weight: bold;
  }


.copyAction {
    position: absolute;
    left:0;
    top:0;

    opacity: 0;

    animation: offOnOff .7s !important;
}

@keyframes offOnOff {
    0%    { opacity: 0; }
    35%   { opacity: 0.4; }
    100%  { opacity: 0; }
}

@keyframes offOn {
    0% {opacity: 0; }
    100% {opacity: 1; }
}


img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
  }